<nav class=" navbar navbar-light bg-light justify-content-between">
  <span></span>
  <span class="float-right">
    {{login}}
  </span>
  <button (click)="logout()" class="btn btn-primary float-right">Logout</button>
</nav>
<hr>
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" href="/adminlist">Videos</a>
  <a class="nav-item nav-link" href="/customers">Customers</a>

</nav>
<br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="align-self-center col-md-5">
    <div class="form-group  ">
      <input class="form-control" [(ngModel)]="searchQuery" placeholder="Search">
    </div>
  </div>
  <div class="col-md-2">
    <a href="/admin-edit-video" class="btn btn-success">Add new Video</a>
  </div>
</div>

<div class="row">
  <div class="col">

    <table class="table table-hover table-bordered m-2">
      <tr>
        <th>Title</th>
        <th>Running Time</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Director</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let video of getFilteredVideos()">
        <td>{{video.title}}</td>
        <td>{{video.runningTime}} minutes</td>
        <td>{{video.genre}}</td>
        <td>{{video.rating}} Stars</td>
        <td>{{video.director}}</td>
        <td>{{video.status?'Available':'UnAvailable'}}</td>
        <td><a  href="/admin-edit-video/{{video._id}}" class="btn btn-secondary">Update</a></td>
        <td><button *ngIf="video.status" (click)="deleteVideo(video)" class="btn btn-danger">Delete</button></td>
      </tr>
    </table>
  </div>
</div>

