<div *ngIf="error">
  <h4 class="alert-danger">{{error}}</h4>
</div>
<div class="card">
  <div class="card-header">
    {{id!='-1'?'Edit Room':'Add Room'}}
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-md-8">
        <table class="table table-responsive table-responsive-lg">
          <tr>
            <td>Name*:</td>
            <td><input class="form-control" [(ngModel)]="selectedRoom.name"></td>
          </tr>

        </table>
        <div class="row">
          <button (click)="getBack()" class="btn btn-secondary m-3">Back</button>
          <button (click)="updateRoom()" class="btn btn-secondary m-3">{{id=='-1'?'Add':'Update'}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
